<footer class="footer">
    <div class="topFooter">
      <div class="bannerLogin">
        <video class="video-bannerLogin" src="/videos/banner-mail.mp4" autoplay loop muted>
        </video>
      </div>
    </div>
  <div class="footerLinks">
    
    <div class="followUs">
      <h5>Seguinos</h5>
      <ul>
        <li><i class="iconFooter fa-brands fa-facebook"></i>include_market</li>
        <li><i class="iconFooter fa-brands fa-twitter"></i>include.ok</li>
        <li><i class="iconFooter fa-brands fa-instagram"></i>somosINCLUDE</li>
        <li><i class="iconFooter fa-brands fa-pinterest"></i>includeRealStyle</li>
      </ul>
    </div>
    <div class="followUsDesktop">
      <h5>Seguinos</h5>
      <ul>
        <li><i class="iconFooter fa-brands fa-facebook"></i>include_market</li>
        <li><i class="iconFooter fa-brands fa-twitter"></i>include.ok</li>
        <li><i class="iconFooter fa-brands fa-instagram"></i>somosINCLUDE</li>
        <li><i class="iconFooter fa-brands fa-pinterest"></i>includeRealStyle</li>
      </ul>
    </div>
  </div>
</footer>